.form-button{
    background-color: #BB2424;
    border-color: #BB2424;
    color: white;
    font-weight: bold;
    width: 100px;
}
.form-button:hover{
    background-color: #7c1919 !important;
    border-color: #7c1919 !important;
}
.button-secondary {
    background-color: #238A1A;
    border-color: #238A1A;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  .button-secondary:hover {
    background-color: #195f12 !important;
    border-color: #195f12 !important;
  }