.button {
  background-color: #bb2424;
  border-color: #bb2424;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.button:hover {
  background-color: #7c1919 !important;
  border-color: #7c1919 !important;
}
