.container-notfound{
    background-color: rgb(19, 19, 19);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notfound-img{
    width: 400px;
    height: auto;
    @media screen and (max-width:425px) {
        width: 300px;
    }
}