body,html{
    background-color: #03090e;
    &::-webkit-scrollbar {
        border-radius: 20px;
        width: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        background: rgb(218, 218, 218);
        width: 10%;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-track {
        background: rgb(104, 104, 104);
        border-radius: 100px;
      }
}
@font-face {
    font-family: "fontStar";
    src: local("fontStar"),
     url("./assets/fonts/starFont.otf") format("truetype");
    font-weight: normal;
    }